//Fonts================================================================================================================>
$main-font: 'Ubuntu', sans-serif;

//Colors===============================================================================================================>
$white: #fff;
$black: #000;
